{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{  parent() }}

    {#Para evitar scroll en los integer de los list#}
    <style media="screen">
      table.sonata-ba-list td {
        overflow: hidden;
      }
    </style>

    {# If you're using less, you can also use the
       '@SonataTranslationBundle/Resources/public/less/sonata-translation.less' template #}
    {% stylesheets '@SonataTranslationBundle/Resources/public/css/sonata-translation.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    <link rel="stylesheet" href="{{ asset('/bundles/app/css/custom.css') }}" />
    {% if app.environment == 'pru' %}
        <link rel="stylesheet" href="{{ asset('/bundles/app/css/custom_pru.css') }}" />
    {% else %}
        {% if app.user.company.alias is not defined %}
            <style>
                .main-header .navbar {
                    background-color: greenyellow !important;
                }
            </style>
        {% elseif app.user.company.alias != 'principal' %}
            <style>
                .main-header .navbar {
                    background-color: orange !important;
                }
            </style>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script src="{{ asset('/bundles/app/js/custom.js') }}"></script>
{% endblock %}
