<a href="{{ path('admin_app_budget_create') }}?cod={{ object.id}}" class="btn btn-sm btn-default view_link" title="Presupuesto">
    <i class="glyphicon glyphicon-plus"></i>
    Presupuesto
</a>

{% if object.hasBudget %}
    {% for budget in object.budgets %}
   <a href="{{ path('admin_app_budget_show', {'id': budget.id}) }}" class="btn btn-sm btn-default show_link" title="Presupuesto">
    <i class="fa fa-search-plus"></i>
    Presupuesto {{ budget.number }}
    </a>
    {% endfor %}
{% endif %}