<a href="{{ path('admin_print_or', {'oe': object.oe.id, 'or': object.id}) }}" target="_blank" class="btn btn-sm btn-default view_link" title="Imprimir">
    <i class="glyphicon glyphicon-print"></i>
    Imprimir
</a>