{% if budget and budget.hasInvoice %}
    {% for invoice in budget.invoices %}
       <a href="{{ path('admin_app_invoice_show', {'id': invoice.id}) }}" class="btn btn-sm btn-default show_link" title="Factura">
        <i class="fa fa-search-plus"></i>
        Factura
        </a>
    {% endfor %}
{% else %}
 <a href="{{ path('admin_app_invoice_create') }}?cod={{ object.id}}{% if budget %}&cod_b={{ budget.id }}{% endif %}" class="btn btn-sm btn-default view_link" title="Factura">
    <i class="glyphicon glyphicon-plus"></i>
    Factura
</a>
{% endif %}