<a href="{{ path('admin_app_orderentry_create') }}?{{cod}}={{ object.id}}" class="btn btn-sm btn-default view_link" title="Orden Entrada">
    <i class="glyphicon glyphicon-plus"></i>
    Orden Entrada
</a>
