{% if object.hasOr %}
   <a href="{{ path('admin_app_orderrepair_show', {'id': object.or.id}) }}" class="btn btn-sm btn-default show_link" title="Orden Reparación">
    <i class="fa fa-search-plus"></i>
    Orden Reparación
    </a> 
{% else %}
<a href="{{ path('admin_app_orderrepair_create') }}?cod={{ object.id}}{% if budget %}&cod_b={{ budget.id }}{% endif %}" class="btn btn-sm btn-default view_link" title="Orden Reparación">
    <i class="glyphicon glyphicon-plus"></i>
    Orden Reparación
</a>
{% endif %}