{% include 'AppBundle:Admin:listActionPrintOrderEntry.html.twig' %}
{% if object.budget[0] is defined %}
    {% include 'AppBundle:Admin:listActionAddOrderRepair.html.twig' with {'object': object, 'budget': object.budget[0]} %}
{% else %}
    {% include 'AppBundle:Admin:listActionAddOrderRepair.html.twig' with {'object': object, 'budget': null} %}
{% endif %}
{% include 'AppBundle:Admin:listActionAddBudget.html.twig' %}