<a href="{{ path('admin_print_invoice_receipt', {'oe': object.invoice.oe.id, 'receipt': object.id}) }}"  target="_blank" class="btn btn-sm btn-default view_link" title="Imprimir Recibo">
    <i class="glyphicon glyphicon-print"></i>
    Imprimir Recibo
</a>