<a href="{{ path('admin_print_refund', {'refund': object.id}) }}" target="_blank" class="btn btn-sm btn-default view_link" title="Imprimir">
    <i class="glyphicon glyphicon-print"></i>
    Imprimir
</a>