<a href="{{ path('admin_app_invoicereceipt_edit', {'id': object.receipt.id}) }}"  class="btn btn-sm btn-default view_link" title="Editar Recibo">
    <i class="fa fa-pencil"></i>
    Editar Recibo
</a>