<a href="{{ path('admin_app_vehicle_create') }}?cod={{ object.id}}" class="btn btn-sm btn-default view_link" title="Nuevo vehiculo">
    <i class="glyphicon glyphicon-plus"></i>
    Nuevo vehiculo
</a>