<a href="{{ path('admin_app_vehiclerecord_list') }}?filter%5Bregistration%5D%5Bvalue%5D={{ object.registration }}&filter%5B_page%5D=1&filter%5B_sort_by%5D=id&filter%5B_sort_order%5D=DESC&filter%5B_per_page%5D=32" class="btn btn-sm btn-default show_link" title="Historial">
 <i class="fa fa-search-plus"></i>
 Historial
</a> 