{% include 'AppBundle:Admin:listActionPrintInvoice.html.twig' %}
{% if object.receipt.id is defined %}
    {% include 'AppBundle:Admin:listActionPrintInvoiceReceipt.html.twig' with {'object': object.receipt}%}
    {% include 'AppBundle:Admin:listActionEditInvoiceReceipt.html.twig' %}
{% endif %}
{% include 'AppBundle:Admin:listActionAddInvoiceRefund.html.twig' %}