{% include 'AppBundle:Admin:listActionPrintBudget.html.twig' %}
{% include 'AppBundle:Admin:listActionAddOrderRepair.html.twig' with {'object': object.oe, 'budget': object} %}
{% include 'AppBundle:Admin:listActionAddInvoice.html.twig' with {'object': object.oe, 'budget': object} %}