<!DOCTYPE html>
<html class="">
    <head>
        {% block meta_tags %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% endblock %}

        {% block stylesheets %}
             <link rel="stylesheet" href="{{ asset('/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
             <link rel="stylesheet" href="{{ asset('/bundles/app/css/custom.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body onload="window.print()">
        <div class="fact-box">
                <table>
                    <tr>
                        <td width="100px"><img class="fact-logo" src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ invoice.company.name }}"></td>                              
                        <td><h2 class="fact-title">{{ invoice.company.name }}<h2></td>
                    </tr>
                </table>
                <h6 class="text-center">
                    <small>
                        {{ invoice.company.addr.street }} {{ invoice.company.addr.code }} {{ invoice.company.addr.city }} ({{ invoice.company.addr.state }})
                        <br>
                        <label>CIF:</label><span>{{ invoice.company.identifier }}</span>
                        <label>Tel.:</label><span>{{ invoice.company.phone }}</span>
                        <label>Reg. Esp:</label><span>{{ invoice.company.registry }}</span>
                    </small>
                </h6>
                <table width="100%">
                    <tr>
                        <td width="45%">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body small">
                                        <table width="100%" height="130px">
                                            <tr><td><label>FATCURA:</label></td><td align="right"><span>{{ invoice.number }}</span></td></tr>
                                            <tr><td><label>Fecha:</label></td><td align="right"><span>{{ invoice.date | date('d/m/Y') }}</span></td></tr>
                                            <tr><td><label>Nº Cliente:</label></td><td align="right"><span>{{ invoice.customer.id }}</span></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width="55%">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body small">
                                        <table width="100%" height="130px">
                                            <tr><td width="40%"><label>Nombre:</label></td><td><span>{{ invoice.customerData.fullname }}</span></td></tr>
                                            <tr><td><label>Dirección:</label></td><td><span>{% if invoice.addressData is defined %}{{ invoice.addressData.street }}{% endif %}</span></td></tr>
                                            <tr><td><label>Código postal:</label></td><td><span>{% if invoice.addressData is defined %}{{ invoice.addressData.code }}{% endif %}</span></td></tr>
                                            <tr><td><label>NIF:</label></td><td><span>{{ invoice.customerData.identifier }}</span></td></tr>
                                            <tr><td><label>Teléfono:</label></td><td><span>{{ invoice.customerData.phone }} {{ invoice.customerData.movil }}</span></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-body small">
                            <table width="100%" class="small">
                                <tr>
                                    <td><label>Matricula:</label><span></span></td>
                                    <td><label>Bastidor:</label><span></span></td>
                                    <td><label>Vehículo:</label><span></span></td>
                                    <td><label>Kms.:</label><span></span></td>
                                    <td><label>Depósito:</label><span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
{#                <p><strong>Mano de Obra:</strong></p>#}
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left small fact-invoice-container">
                    <p><strong>Mano de Obra:</strong></p>
                    <table>
                        <tr>
                            <td width="10%">Cant. / Horas</td>
                            <td width="30%">Descripción</td>
                            <td width="20%" align="right">Precio</td>
                            <td width="20%" align="right">Descuento</td>
                            <td width="20%" align="right">Total</td>
                        </tr>
                    {% for item in invoice.items if is_labor(item.item) %}
                        <tr>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.description }}</td>
                            <td align="right">{{ item.price|number_format(2, ',', '.') }} €</td>
                            <td align="right">({{ item.discount * 100}}%) {{ item.discountValue|number_format(2, ',', '.') }} €</td>
                            <td align="right">{{ item.base|number_format(2, ',', '.') }} €</td>
                        </tr>
                    {% endfor %}
                        <tr></tr>
                        <tr>
                            <td colspan="4" align="right">Total operaciones:</td>
                            <td align="right">{{ invoice.baseLabors|number_format(2, ',', '.')}} €</td>
                        <tr>
                    </table>
                    <br>
                    <p><strong>Repuestos:</strong></p>
                    <table>
                        <tr>
                            <td width="10%">Cant.</td>
                            <td width="30%">Descripción</td>
                            <td width="20%" align="right">Precio</td>
                            <td width="20%" align="right">Descuento</td>
                            <td width="20%" align="right">Total</td>
                        </tr>
                    {% for item in invoice.items if is_part(item.item) %}
                        <tr>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.description }}</td>
                            <td align="right">{{ item.price|number_format(2, ',', '.') }} €</td>
                            <td align="right">({{ item.discount * 100}}%) {{ item.discountValue|number_format(2, ',', '.') }} €</td>
                            <td align="right">{{ item.base|number_format(2, ',', '.') }} €</td>
                        </tr>
                    {% endfor %}
                        <tr></tr>
                        <tr>
                            <td colspan="4" align="right">Total operaciones:</td>
                            <td align="right">{{ invoice.baseParts|number_format(2, ',', '.')}} €</td>
                        <tr>
                    </table>
                </div>
                <table>
                    <tr>
                        <td width="20%" height="50px">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body">
                                        <h6><small>Las piezas cambiadas durante la reparación, excepto las sustituidas en la garantía, están a disposición del cliente al concluir los trabajos, de no ser retiradas en ese momento se entenderá que renuncia a las mismas.</small></h6>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width="50%">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body">
                                        <h6><small>Esta reparación queda garantizada por tres meses o 2.000 Kms. (15 días o 2.000 Kms. para vehículos industriales), desde la fecha de entrega del vehículo, de acuerdo con las condiciones establecidas por la normativa aplicable. La garantía se entiende que es total, incluyendo mano de obra y piezas sustituidas. Esta garantía puede quedar invalidada por la manipulación por terceros ajenos a la empresa de las piezas garantizadas. Averiado el automóvil en garantía a más de 25 Kms. del taller garante, deberá el cliente ponerse en contacto con éste para que proceda al cumplimiento de la garantía directamente o a traves de tercero. A tales efectos, el aviso se realizará mediante cualquier medio que permita tener constancia de su recepción por el taller reparador.</small></h6>
                                    </div>
                                </div>
                            </div>
                        </td>
                       <td>
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body">
                                        <div class="fact-invoice-total">
                                            <table height="100%">
                                                <tr>
                                                    <td>Base:</td>
                                                    <td align="right">{{ invoice.base|number_format(2, ',', '.') }}€</td>
                                                </tr>
                                                <tr>
                                                    <td>%IVA:</td>
                                                    <td align="right">21%</td> 
                                                </tr>
                                                <tr>
                                                    <td>IVA:</td>
                                                    <td align="right">{{ invoice.tax|number_format(2, ',', '.') }}€</td> 
                                                </tr>
                                                <tr>
                                                    <td><h4>Total:</h4></td>
                                                    <td align="right"><h4>{{ invoice.total|number_format(2, ',', '.') }}€</h4></td>
                                                </tr>
                                                {% if invoice.excess is defined and invoice.excess > 0 %}
                                                <tr>
                                                    <td>Franquicia:</td>
                                                    <td align="right">{{ invoice.excess }}</td>
                                                </tr>
                                                <tr>
                                                    <td><h4>Resto:</h4></td>
                                                    <td align="right"><h4>{{ invoice.total|number_format(2, ',', '.') }}€</h4></td>
                                                </tr>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <h6 class="text-center">{{ invoice.company.registered }}</h6>
        </div>
    </body>
</html>