<!DOCTYPE html>
<html class="">
    <head>
        {% block meta_tags %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% endblock %}

        {% block stylesheets %}
             <link rel="stylesheet" href="{{ asset('/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
             <link rel="stylesheet" href="{{ asset('/bundles/app/css/custom.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body onload="window.print()">
        <div class="fact-box">
                <table>
                    <tr>
                        <td width="100px"><img class="fact-logo" src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ oe.company.name }}"></td>                              
                        <td><h2 class="fact-title">{{ oe.company.name }}<h2></td>
                    </tr>
                </table>
                <h6 class="text-center">
                    <small>
                        {{ oe.company.addr.street }} {{ oe.company.addr.code }} {{ oe.company.addr.city }} ({{ oe.company.addr.state }})
                        <br>
                        <label>CIF:</label><span>{{ oe.company.identifier }}</span>
                        <label>Tel.:</label><span>{{ oe.company.phone }}</span>
                        <label>Reg. Esp:</label><span>{{ oe.company.registry }}</span>
                    </small>
                </h6>
                <table width="100%">
                    <tr>
                        <td width="45%">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body small">
                                        <table width="100%" height="130px">
                                            <tr><td><label>RECEPCIÓN Nº:</label></td><td align="right"><span>{{ oe.number }}</span></td></tr>
                                            <tr><td><label>Fecha de entrada:</label></td><td align="right"><span>{{ oe.dateIn | date('d/m/Y') }}</span></td></tr>
                                            <tr><td><label>Fecha prevista de salida:</label></td><td align="right"><span>{{ oe.dateOut | date('d/m/Y') }}</span></td></tr>
                                            <tr><td><label>Nº Cliente:</label></td><td align="right"><span>{{ oe.customer.id }}</span></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width="55%">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body small">
                                        <table width="100%" height="130px">
                                            <tr><td width="40%"><label>Nombre:</label></td><td><span>{{ oe.customerData.fullname }}</span></td></tr>
                                            <tr><td><label>Dirección:</label></td><td><span>{% if oe.addressData is defined %}{{ oe.addressData.street }}{% endif %}</span></td></tr>
                                            <tr><td><label>Código postal:</label></td><td><span>{% if oe.addressData is defined %}{{ oe.addressData.code }}{% endif %}</span></td></tr>
                                            <tr><td><label>NIF:</label></td><td><span>{{ oe.customerData.identifier }}</span></td></tr>
                                            <tr><td><label>Teléfono:</label></td><td><span>{{ oe.customerData.phone }} {{ oe.customerData.movil }}</span></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-body small">
                            <table width="100%" class="small">
                                <tr>
                                    <td><label>Matricula:</label><span>{{ oe.vehicleData.registration }}</span></td>
                                    <td><label>Bastidor:</label><span>{{ oe.vehicleData.vin }}</span></td>
                                    <td><label>Vehículo:</label><span>{{ oe.vehicleData.trademarkModel }}</span></td>
                                    <td><label>Kms.:</label><span>{{ oe.km }}</span></td>
                                    <td><label>Depósito:</label><span>{{ oe.deposit * 100 }}{{'%'}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left small">
                <p>Autorizo a este taller a la realización de las pruebas y trabajos necesarios para la correcta realización del presupuesto, y en caso de renuncia al mismo, para la correcta reparación de mi vehículo. Asimismo, también autorizo la prueba de mi vehículo fuera del taller por personal del mismo para la correcta diagnosis, declarando expresamente que el seguro de mi vehículo está en vigor.</p>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                <p><strong>Las reparaciones a realizar son las siguientes:</strong></p>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left small fact-oe-container">
                <p>{{ oe.description|nl2br  }}</p>
                </div>
                <table>
                    <tr>
                        <td width="35%" height="50px">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body">
                                        <div class="fact-oe-rap">
                                        <p>Espacio para que el cliente escriba de su puño y letra la frase: RENUNCIO AL PRESUPUESTO, firmado a</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width="35%">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body">
                                        <div class="fact-oe-conforme">
                                        <table height="100px">
                                            <tr>
                                                <td>No deseo recoger las piezas sustituidas a mi vehiculo</td>
                                                <td>Conforme el cliente o persona autorizada</td>
                                            </tr>
                                            <tr>
                                                <td align="center"><input type="checkbox"/></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width="30%">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body">
                                        <div class="fact-oe-taller">
                                        <p>El Taller</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left small fact-oe-info">
                    <div class="panel panel-default height">
                        <div class="panel-body">
                            <center>
                                <h4>INFORMACIÓN AL CLIENTE</h4>
                                <h5>NORMATIVA DE LA PRESTACIÓN DE SERVICIOS</h5>
                                <p>Este establecimiento tiene a disposición del público una copia del Real Decreto 1.457/1986 y del Decreto 2/1995, por los que se regula la actividad industrial y la prestación de servicios en talleres de reparación de vehículos automóviles.</p>
                                <h5>GARANTÍA DE LA REPARACIÓN</h5>
                                <p>Las reparaciones encargadas en esta recepción de vehículo y las piezas a incorporar, están garantizadas de acuerdo con el artículo 16 del Real Decreto 1.457/1986 y la ley 23/03, a excepción de los materiales de desgaste, que lo son según el uso y el kilometraje.<p>
                                <h5>GASTOS DE ESTANCIA</h5>
                                <p>Una vez reparado el vehículo y puesto en conocimiento del usuario este hecho, si éste no procede a la retirada del vehículo en el plazo de tres días habiles, devengará los gastos de estancia (12€/Día). (Decreto 2/1995, art. 15.6)</p>
                            </center>
                        </div>
                    </div>
                </div>
            <h6 class="text-center">{{ oe.company.registered }}</h6>
        </div>
    </body>
</html>