<!DOCTYPE html>
<html class="">
    <head>
        {% block meta_tags %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% endblock %}

        {% block stylesheets %}
             <link rel="stylesheet" href="{{ asset('/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
             <link rel="stylesheet" href="{{ asset('/bundles/app/css/custom.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body onload="window.print()">
        <div class="fact-box">
                <table>
                    <tr>
                        <td width="100px"><img class="fact-logo" src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ oe.company.name }}"></td>                              
                        <td><h2 class="fact-title">{{ oe.company.name }}<h2></td>
                    </tr>
                </table>
                <h6 class="text-center">
                    <small>
                        {{ oe.company.addr.street }} {{ oe.company.addr.code }} {{ oe.company.addr.city }} ({{ oe.company.addr.state }})
                        <br>
                        <label>CIF:</label><span>{{ oe.company.identifier }}</span>
                        <label>Tel.:</label><span>{{ oe.company.phone }}</span>
                        <label>Reg. Esp:</label><span>{{ oe.company.registry }}</span>
                    </small>
                </h6>
                <table width="100%">
                    <tr>
                        <td width="45%">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body small">
                                        <table width="100%" height="130px">
                                            <tr><td><label>RECIBO:</label></td><td align="right"><span>{{ receipt.invoice.number }}</span></td></tr>
                                            <tr><td><label>Fecha:</label></td><td align="right"><span>{{ receipt.invoice.date | date('d/m/Y') }}</span></td></tr>
                                            <tr><td><label>Nº Cliente:</label></td><td align="right"><span>{{ oe.customer.id }}</span></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width="55%">
                            <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                                <div class="panel panel-default height">
                                    <div class="panel-body small">
                                        <table width="100%" height="130px">
                                            <tr><td width="40%"><label>Nombre:</label></td><td><span>{{ receipt.customer.fullname }}</span></td></tr>
                                            <tr><td><label>Dirección:</label></td><td><span>{% if receipt.address is defined %}{{ receipt.address.street }}{% endif %}</span></td></tr>
                                            <tr><td><label>Código postal:</label></td><td><span>{% if receipt.address is defined %}{{ receipt.address.code }}{% endif %}</span></td></tr>
                                            <tr><td><label>NIF:</label></td><td><span>{{ receipt.customer.identifier }}</span></td></tr>
                                            <tr><td><label>Teléfono:</label></td><td><span>{{ receipt.customer.phone }} {{ receipt.customer.movil }}</span></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-body small">
                            <table width="100%" class="small">
                                <tr>
                                    <td><label>Matricula:</label><span>{{ receipt.vehicle.registration }}</span></td>
                                    <td><label>Bastidor:</label><span>{{ receipt.vehicle.vin }}</span></td>
                                    <td><label>Vehículo:</label><span>{{ receipt.vehicle.trademarkModel }}</span></td>
                                    <td><label>Kms.:</label><span>{{ oe.km }}</span></td>
                                    <td><label>Depósito:</label><span>{{ oe.deposit * 100 }}{{'%'}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                <p><strong>Conceptos:</strong></p>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left small" style="margin-bottom: 30px">
                    <table>
                        <tr>
                            <td>{{ receipt.description|nl2br }}</td>
                            <td align="right">{{ receipt.amount|number_format(2, ',', '.') }} €</td>
                        </tr>
                    </table>
                </div>
                        <br>
                        <hr>
                        <br>
                <div class="col-xs-12 col-md-12 col-lg-12 pull-left small fact-or-info">
                    <h5>Recibí:</h5>
                </div>
        </div>
    </body>
</html>