{# se quita del autocomplete de items para que no salga todas las veces, 
ahora se hace con autocomplete ficticio y no hace falta cargar plantilla #}
{#{% include 'SonataAdminBundle:Form/Type:sonata_type_collection.html.twig' %}#}

{# This part is a copy / paste  from sonata-project/doctrine-orm-admin-bundle/Resources/views/CRUD/edit_orm_many_to_one.html.twig  #}
{# Se modifica para incluir a codigo fuerte link a añadir Labor y Part #}

{% if is_granted('ROLE_SONATA_ADMIN_LABOR_CREATE') or is_granted('ROLE_SUPER_ADMIN') %}
    <a  href="{{ path('admin_app_labor_create') }}"
        onclick="return start_field_dialog_form_add_{{ id }}(this);"
        class="btn btn-success btn-sm sonata-ba-action"
        title="{{"MO Nuevo" | trans }}"
        >
        <i class="fa fa-plus-circle"></i>
        {{"MO Nuevo" | trans }}
    </a>
{% endif %}
{% if is_granted('ROLE_SONATA_ADMIN_PART_CREATE') or is_granted('ROLE_SUPER_ADMIN') %}
    <a  href="{{ path('admin_app_part_create') }}"
        onclick="return start_field_dialog_form_add_{{ id }}(this);"
        class="btn btn-success btn-sm sonata-ba-action"
        title="{{"Artículo Nuevo" | trans }}"
        >
        <i class="fa fa-plus-circle"></i>
        {{"Artículo Nuevo" | trans }}
    </a>
{% endif %}
{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_modal.html.twig' %}
{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}

{# end copy / paste #}

{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_modal.html.twig' %}
{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}

