.main-header .logo {
    width: auto;
}

.fact-box {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.fact-title {
    margin-right: 115px;
    text-align: center;
}

.fact-box table{
    width: 100%;
}

.fact-logo {
    max-width: 100px;
    max-height: 50px;
    padding-left: 15px;
}

.fact-oe-container {
    height: 215px;
}

.fact-or-container {
    height: 550px;
}

.fact-budget-container {
    height: 375px;
}

.fact-invoice-container {
    height: 540px;
}

.fact-oe-rap {
    height: 100px;
    font-size: 8px;
}

.fact-oe-rap p {
    padding-top: 80px;
}

.fact-oe-conforme {
    height: 100px;
    font-size: 8px;
}

.fact-oe-taller {
    height: 100px;
    font-size: 8px;
}

.fact-budget-conforme {
    height: 150px;
    font-size: 8px;
}

.fact-budget-total {
    height: 130px;
    font-size: 14px;
    margin: 10px
}

.fact-invoice-total {
    height: 130px;
    font-size: 14px;
    margin: 10px
}